<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Join !</title>
    <style media="screen">
      .message {
        color: #963b3b;
        margin-bottom: 16px;
      }
    </style>
  </head>
  <body>
    <h1>join my website!</h1>
    <section class="message"><%= message %></section>
    <form class="" action="/join" method="post">
      email : <input type="text" name="email"><br>
      password : <input type="password" name="password"><br>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
