<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome !! <%= name %></h1>
    <p><%= id %>번째 가입자시네요~! 축하드려요</p>
  </body>
</html>
